<!-- __tmpl__:copy -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Ebenaum - Erenthyrm 2022</title>
  <meta name="description" content="Toutes les informations pour le GN 2021 - Erenthyrm I">
  <meta name="author" content="jloup">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/247c19fd5c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="landing.css" rel="stylesheet">

</head>

<body>
{{template "logo.tmpl"}}
<div class="container">
  <div class="row section-title"><h2>Erenthyrm 2022 - Bordesylve</h2></div>
  <div class='mb-4'></div>
  <div class="row"><div class='col-10 col-md-6 text-justify'><p>
Holà, voyageur ! Suspends ton pas, retiens ton souffle, et écarquille tes yeux ébaubis. Nous vous convions au grand retour des aventuriers d’ebenaum ! Partez à la découverte d'un nouvel univers fantastique mêlant mystère, défis et aventure avec une pincée de magie !
  </p></div></div>

  <div class="row"><div class='col-10 col-md-6 text-center'><p>
  <b>Rejoignez-nous du vendredi 22 Juillet à 20h au dimanche 24 Juillet 2022 au moulin de Baratte, à Méobecq.</b>
  </p></div></div>
  
  <div class="row"><img src="img/erenthrym-ii.jpg" height="900px" /></div>
  <div class='mb-5'></div>

  <div class="row"><div class='col-10 col-md-6 text-justify'><p>
Nous vous retrouverons pour ce second opus du cycle d'Erenthyrm pour reprendre l’histoire là où elle s’était arrêtée ! (ou presque…) : Les nouveaux arrivants dans le monde d'Erenthyrm sont partis avec certains des autochtones en quête d'un lieu hospitalier où s'installer... Mais au logis de Bordesylve, la paix fragile entre les habitants supportera-t-elle l'arrivée d'une compagnie de problèmes ? Et qu'adviendra-t-il des étranges créatures que le destin a rassemblées sous des cieux étranges ? 
  </p></div></div>
  <div class='mb-4'></div>
  <div class="row"><div class='col-10 col-md-6 text-center'><p>
  Pour vous (re)mettre dans le bain, venez tester une aventure inédite
  </p></div></div>
  <div class="row"><div class='col-10 col-md-6 text-center'><p>
  <b><a href='/lvdm.html'>Dont vous êtes le Maraud</a></b>
  </p></div></div>
  <div class='mb-5'></div>
  <div class="row">
    <div class='col-12 col-md-4'>
      <ul class="table-of-contents">
        <li><i class="fas fa-user-plus"></i> <a href='/inscription.html'>Inscription</a> (jusqu'au 14 mai)</li>
        <li><i class="fas fa-book"></i> <a href="https://docs.google.com/document/d/1v9e9gJgQL89nOVJn_4NYIK2Q6xEQPU5W4zNNBzwaRRY" target="blank_">Livre des règles</a></li>
        <li><i class="fab fa-discord"></i> <a href='https://discord.gg/va7CBwt' target="_blank">Taverne</a></li>
        <li><i class="fas fa-chess-rook"></i>Moulin de Baratte à Méobecq</a> - <a href='https://goo.gl/maps/HPEAxVB2G3w6Gtcw6' target='_blank'>46.7538,1.3915</a></li> 
        <li class="soon-content"><i class="fas fa-hat-wizard"></i> Créer son personnage<span class='soon-badge'><span>Bientôt</span></span></li>
      </ul>
    </div>
  </div>
</div>
<div class='mb-5'></div>
{{template "footer.tmpl"}}
</body>
</html>
