<!-- __tmpl__:copy -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Ebenaum - Erenthyrm 2025</title>
  <meta name="description" content="Toutes les informations pour le GN 2026 - Le Meilleur des Mondes">
  <meta name="author" content="jloup">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/247c19fd5c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="landing.css" rel="stylesheet">

</head>

<body>
{{template "logo.tmpl"}}
<div class="container">
  <div class="row section-title"><h2>Erenthyrm 2026 - Le meilleur des mondes !</h2></div>
  <div class='mb-4'></div>

  <div class="row"><div class='col-12 col-md-8'>
  <img src="/img/erenthyrm-2026.jpeg" width="100%" />
  </div></div>

  <div class='mb-4'></div>
  
  <div class="row"><div class='col-10 col-md-6 text-justify'><p>
  Oyez, maraudeur ! Suspends ton pas, retiens ton souffle, et écarquille tes yeux ébaubis. Voici le grand retour des aventuriers d’ebenaum ! 
  </p></div></div>

  <div class="row"><div class='col-10 col-md-6 text-center'><p>
  <b>Rejoignez-nous du vendredi 24 au dimanche 26 juillet 2026, au Château du Puy à Tercillat (Creuse)</b>
  </p></div></div>
  
  <div class="row">
    <div class='col-12 col-md-5'>
      <ul class="table-of-contents">
        <li class="soon-content"><i class="fas fa-user-plus"></i>Inscription<span class='soon-badge'><span>Bientôt</span></span></li>
        <li><i class="fas fa-book"></i> <a href="https://docs.google.com/document/d/1VDHY9IlNflc53Ayj9h4DoNZkdYJ5tOhZVx0xPsfziZw" target="blank_">Livre des règles</a></li>
        <li><i class="fab fa-discord"></i> <a href='https://discord.gg/va7CBwt' target="_blank">Taverne</a></li>
        <li><i class="fas fa-chess-rook"></i> Château du Puy</a> - <a href='https://maps.app.goo.gl/utgEBhWfHaudCSDd9' target='_blank'>46.4120,2.0472</a></li> 
        <li class="soon-content"><i class="fas fa-hat-wizard"></i> Créer son personnage<span class='soon-badge'><span>Bientôt</span></span></li>
      </ul>
    </div>
  </div>

  <div class="row"><div class='col-10 col-md-6 text-justify'><p>
Ebenaum est de retour pour un nouveau Gn familial, épique et loufoque ! Retrouvons-nous au fantasque et fantastique Château du Puy, à Tercillat, domaine bucolique dédié aux contes pour décider du destin du monde qui arrive peut être à sa conclusion sur cet arc, maintenant que des choix ont été faits et que les Dieux ont été évincés.   
</p></div></div>
</div>
<div class='mb-5'></div>
{{template "footer.tmpl"}}
</body>
</html>
