<!-- __tmpl__:journal-erenthyrm -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Ebenaum - Erenthyrm 2021</title>
  <meta name="description" content="Toutes les informations pour le GN 2021 - Erenthyrm I">
  <meta name="author" content="jloup">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/247c19fd5c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="landing.css" rel="stylesheet">

</head>

<body>
{{template "logo.tmpl"}}
<div class="container">
  <div class="row section-title"><h2>Erenthyrm 2021</h2></div>
  <div class='mb-4'></div>
  <div class="row">
    <div class='col-12 col-md-4'>
      <ul class="table-of-contents">
        <li><i class="fas fa-book"></i> <a href="regles">Livre des règles</a></li>
        <li><i class="fab fa-discord"></i> <a href='https://discord.gg/va7CBwt' target="_blank">Taverne</a></li>
        <li class="soon-content"><i class="fas fa-chess-rook"></i> Le Lieu<span class='soon-badge'><span>Bientôt</span></span></li>
        <li class="soon-content"><i class="fas fa-hat-wizard"></i> Créer son personnage<span class='soon-badge'><span>Bientôt</span></span></li>
        <li><iframe id="haWidget" allowtransparency="true" src="https://www.helloasso.com/associations/association-ebenaum/evenements/gn-ebenaum-2020-erenthyrm-le-carroir/widget-vignette" style="width: 350px; height: 450px; border: none;"></iframe></li>
        <li><iframe id="haWidget" allowtransparency="true" src="https://www.helloasso.com/associations/association-ebenaum/evenements/gn-ebenaum-2020-erenthyrm-le-carroir/widget-bouton" style="width: 100%; height: 70px; border: none;"></iframe></li>
      </ul>
    </div>
  </div>
</div>
<div class='mb-5'></div>
<div class="container journal">
  <div class="row section-title"><h2>Journal</h2></div>
  <div class='mb-4'></div>
  {{range .}}
  <div class='article'>
    <div class="row"><h3>{{ .title }}</h3></div>
    <div class='mb-3'></div>
    <div class="row"><div class='col-10 col-md-6 date'><p>{{ formatDate .date }}</p></div></div>
    {{ range splitParagraphes .body }}
    <div class="row"><div class='col-10 col-md-6 text-justify'><p>{{ . }}</p></div></div>
    {{ end }}
  </div>
  {{end}}
</div>
<div class='mb-5'></div>
{{template "footer.tmpl"}}
</body>
</html>
