<div class='container'>
  <div class='row offset-1 offset-md-2 col-10 col-md-8 footer'>
    <div class='section col-12 col-md-3'><a href='/' style='text-decoration: none;'><b>Ebenaum</b></a></div>
    <div class='section col-12 col-md-4'>
      <ul>
        <li><b>Nous contacter</b></li>
        <li><a href='mailto:ebenaum@gmail.com' target="_blank"><i class="fas fa-at"></i>  Nous écrire</a></li>
        <li><a href='https://www.facebook.com/assoebenaum' target="_blank"><i class="fab fa-facebook-square"></i>  Facebook</a></li>
        <li><a href='https://discord.gg/8Rb2cca' target="_blank"><i class="fab fa-discord"></i>  Taverne</a></li>
      </ul>
    </div>
    <div class='section col-12 col-md-4'>
      <ul>
        <li><b>Liens</b></li>
        <li><a href='erenthyrm-2024'>GN 2024</a></li>
        <li><a href='documents'>Documents et règles</a></li>
        <li><a href='inscription'>Inscription 2024</a></li>
        <li><a href='precedents-gns'>Précédents évènements</a></li>
        <li><a href='lvdm'>Livre dont vous êtes le maraud</a></li>
        <li><a href='faq'>FAQ</a></li>
      </ul>
    </div>
    <div class='col-md-1'></div>
  </div>
</div>
