<!-- __tmpl__:copy -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Ebenaum</title>
  <meta name="description" content="Ebenaum">
  <meta name="author" content="jloup">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/247c19fd5c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="landing.css" rel="stylesheet">
</head>

<body>
<div class="container">
  <a href='/'>
  <div class="row"><img src="/img/donjon.png" width="150px" /></div>
  <div class='mb-2'></div>
  <div class="row"><h1>Ebenaum</h1></div>
  </a>
</div>
<div class='mb-5'></div>
<div class="container">
  <div class='article'>
   
  <div class='row'><div class='col-6 text-justify first-letter'>
  {{ with findEntry . "Manifeste" }}
  {{ range splitParagraphes .body }}
    <p>{{.}}</p>
  {{ end }}
  {{ end }}
  </div>
  </div>
  </div>
</div>
<div class='mb-5'></div>
<div class="container">
  <div class="row">
    <ul class="table-of-contents" style="padding-inline-start: 0px;">
      <li><a href="erenthyrm-2021">Erenthyrm 2021</a></li>
    </ul>
  </div>
</div>
</body>
</html>
