body {
  background: hsl(0deg 0% 53% / 3%);
  background-image: radial-gradient(hsl(0deg 0% 0% / 5%) 5%, transparent 0);
  background-size: 7px 7px;

  font-family: 'Libre Caslon Text', serif;
}

body * {
  justify-content: center!important;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.3rem;
}

li {
  list-style: none;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.table-of-contents {
  font-size: 1.2rem;
}

.table-of-contents li {
  margin-bottom: 10px;
}

.table-of-contents a {
  color: black;
  text-decoration: underline;
}

.section-title {
  font-style: italic;
  margin-bottom: 20px;
}

.article {
  margin-bottom: 20px;
}

.article .date {
  font-style: italic;
  justify-content: left!important;
}

.soon-content {
  color: #bbbbbb; 
}

.soon-badge {
  position: relative;
}

.soon-badge span {
  position: absolute;
  right: -58px;
  top: -12px;
  font-size: 0.8rem;
  background-color: black;
  color: white;
  padding: 2px 4px;
  border-radius: 5px;
}


@font-face {
    font-family: 'typographerwoodcutinitialsoRg';
    src: url('/css/woodcut1-webfont.woff2') format('woff2'),
         url('/css/woodcut1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.first-letter p:first-child::first-letter {
  display: block;
  float: left;
  line-height: .5;
  margin-right: 5px;
  font-size: 60px;
  font-family: 'typographerwoodcutinitialsoRg';
  /*color: rgb(150,0,20);*/
}

.first-letter p:first-child {
  margin-bottom: 35px;
}
