<!-- __tmpl__:copy -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Ebenaum - Précédents GNs</title>
  <meta name="description" content="Nos précédents GNs">
  <meta name="author" content="jloup">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/247c19fd5c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="landing.css" rel="stylesheet">


</head>

<body>
{{template "logo.tmpl"}}
<div class="container">
<div class="row section-title"><h2>Précédents Evènements</h2></div>

<div class='mb-5'></div>
<div class="container">
  {{ with findEntry . "event-prebenoit" }}
    <div class="row section-title"><h2>{{ .title }}</h2></div>
  {{ end }}
  <div class="row section-subtitle"><h3>à l'Abbaye de Prébenoit - <u><a href='https://goo.gl/maps/TLSnr1mhYe5YXc3Y7' target='_blank'>46.3573,2.0410</a></u></h3></div>
  <div class='mb-5'></div>
  <div class='row'>
    <div class='col-12 col-md-8 text-justify'>
    {{ with findEntry . "event-prebenoit" }}
      {{ .body }}
    {{ end }}
    </div>
  </div>
</div>
<div class='mb-5'></div>
<div class="container">
  <div class="row section-title"><h2>Ebenaum IV Croquenefles - 2009</h2></div>
  <div class="row section-subtitle"><h3>au Château du Magnet - <u><a href='https://goo.gl/maps/iAMNSTC35rSnZLYb8' target='_blank'>46.6788, 1.8585</a></u></h3></div>
  <div class='mb-5'></div>
  <div class='row'>
    <div class='col-12 col-md-8 text-justify'>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
</div>
<div class='mb-5'></div>
<div class="container">
  <div class="row section-title"><h2>Ebenaum III - 2008</h2></div>
  <div class="row section-subtitle"><h3>au Château de Briantes - <u><a href='https://goo.gl/maps/YcPYGBhQ7DGSJc8CA' target='_blank'>46.5596, 2.0239</a></u></h3></div>
  <div class='mb-5'></div>
  <div class='row'>
    <div class='col-12 col-md-8 text-justify'>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
</div>
<div class='mb-5'></div>
<div class="row section-title"><h2>Galerie</h2></div>
<div class='mb-4'></div>
<div class="row text-center gallery">
  <div class='col-12 col-md-8'>
    <div class='row'>
      <div class='col-12 col-md-6 gallery-tile'><img src='/img/photo-gn-1.jpg' width='100%'/></div>
      <div class='col-12 col-md-6 gallery-tile'><img src='/img/photo-gn-10.jpg' width='100%'/></div>
    </div>
    <div class='row'>
      <div class='col-12 col-md-6 gallery-tile'><img src='/img/photo-gn-7.jpg' width='100%'/></div>
      <div class='col-12 col-md-6 gallery-tile'><img src='/img/photo-gn-5.jpg' width='100%'/></div>
    </div>
  </div>
  <div class='col-12 col-md-4 gallery-tile'>
    <img src='/img/photo-gn-8.jpg' width='100%'/>
  </div>
</div>
<div class="row text-center gallery">
  <div class='col-12 col-md-6 gallery-tile'><img src='/img/photo-gn-9.jpg' width='100%'/></div>
  <div class='col-12 col-md-6 gallery-tile'><img src='/img/photo-gn-12.jpg' width='100%'/></div>
</div>
<div class="row text-center gallery">
  <div class='col-12 col-md-4 gallery-tile'>
    <img src='/img/photo-gn-3.jpg' width='100%'/>
  </div>
  <div class='col-12 col-md-8'>
    <div class='row'>
      <div class='col-12 col-md-6 gallery-tile'><img src='/img/photo-gn-4.jpg' width='100%'/></div>
      <div class='col-12 col-md-6 gallery-tile'><img src='/img/photo-gn-6.jpg' width='100%'/></div>
    </div>
    <div class='row'>
      <div class='col-12 col-md-6 gallery-tile'><img src='/img/photo-gn-11.jpg' width='100%'/></div>
      <div class='col-12 col-md-6 gallery-tile'><img src='/img/photo-gn-2.jpg' width='100%'/></div>
    </div>
  </div>
</div>
<div class='mb-5'></div>
{{template "footer.tmpl"}}
</body>
</html>
